body{
  font-family: Helvetica, sans-serif;
  text-align: center;
}

#title{
  
}

#img-div{
  text-align: center;
}

#image{
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#img-caption{
  
}

#tribute-info{
  
}

#tribute-link{
   color: black;
  text-decoration: none;
}

#Slava{
  text-align: center;
  animation-name: Slava;
  animation: Slava 5s infinite;
}
@keyframes Slava {
  from {background-color: yellow;}
  to {background-color: blue;}
